chardet
gitpython
atlassian-python-api
Flask
Flask-JWT-Extended
langchain
notion-client
requests
Flask-SQLAlchemy
Flask-Cors
pandas
sqlalchemy
PyPDF2
openpyxl
keras
werkzeug
tensorflow
pydantic
python-docx
openai